# C connector .gitignore
libmariadb/CMakeCache.txt
libmariadb/CMakeFiles/*
libmariadb/Makefile
libmariadb/include/my_config.h
libmariadb/include/mysql_version.h
libmariadb/CMakeFiles
libmariadb/mysql_config/mysql_config.c
libmariadb/examples/mysql_affected_rows
libmariadb/examples/mysql_debug
libmariadb/examples/test_output
libmariadb/mysql_config/mysql_config
libmariadb/mariadb_config/libmariadb.pc

# Keep empty directories:
# Keep empty directories: >> .gitignore/.git*

# Compiled Static libraries
libmariadb/*.lib
libmariadb/*.a
libmariadb/libmariadb/*.a
libmariadb/*.la
libmariadb/*.lai
libmariadb/*.lo

# Compiled Dynamic libraries
libmariadb/*.so
libmariadb/*.so.*
libmariadb/*.dylib
libmariadb/*.dll

# Executables
libmariadb/*.exe
libmariadb/*.out
libmariadb/*.app
libmariadb/*.i*86
libmariadb/*.x86_64
libmariadb/*.hex

libmariadb/*.dgcov
libmariadb/.*.swp
libmariadb/.gdb_history
libmariadb/CTestTestfile.cmake
libmariadb/cmake_install.cmake
libmariadb/bin/
libmariadb/include/config.h
libmariadb/include/ma_config.h
libmariadb/include/mariadb/mariadb/
libmariadb/include/mariadb/ma_errmsg.h
libmariadb/include/mariadb/ma_list.h
libmariadb/include/mariadb/ma_pvio.h
libmariadb/include/mariadb/ma_tls.h
libmariadb/include/mariadb/mariadb_com.h
libmariadb/include/mariadb/mariadb_ctype.h
libmariadb/include/mariadb/mariadb_dyncol.h
libmariadb/include/mariadb/mariadb_stmt.h
libmariadb/include/mariadb/mariadb_version.h
libmariadb/include/mariadb/mysql.h
libmariadb/include/mariadb/mysql/
libmariadb/include/mariadb_version.h
libmariadb/lib/
libmariadb/libmariadb/home/
libmariadb/libmariadb/ma_client_plugin.c
libmariadb/libmariadb/mariadbclient.def
libmariadb/mariadb_config/mariadb_config
libmariadb/mariadb_config/mariadb_config.c
libmariadb/unittest/libmariadb/async
libmariadb/unittest/libmariadb/basic-t
libmariadb/unittest/libmariadb/bulk1
libmariadb/unittest/libmariadb/charset
libmariadb/unittest/libmariadb/connection
libmariadb/unittest/libmariadb/cursor
libmariadb/unittest/libmariadb/dyncol
libmariadb/unittest/libmariadb/errors
libmariadb/unittest/libmariadb/features-10_2
libmariadb/unittest/libmariadb/fetch
libmariadb/unittest/libmariadb/fingerprint.list
libmariadb/unittest/libmariadb/logs
libmariadb/unittest/libmariadb/misc
libmariadb/unittest/libmariadb/performance
libmariadb/unittest/libmariadb/ps
libmariadb/unittest/libmariadb/ps_bugs
libmariadb/unittest/libmariadb/ps_new
libmariadb/unittest/libmariadb/result
libmariadb/unittest/libmariadb/rpl_api
libmariadb/unittest/libmariadb/sp
libmariadb/unittest/libmariadb/sqlite3
libmariadb/unittest/libmariadb/ssl
libmariadb/unittest/libmariadb/t_aurora
libmariadb/unittest/libmariadb/t_conc173
libmariadb/unittest/libmariadb/thread
libmariadb/unittest/libmariadb/view
libmariadb/unittest/libmariadb/conc336
libmariadb/unittest/libmariadb/libma_getopt.a
libmariadb/unittest/mytap/libcctap.a
libmariadb/unittest/libmariadb/libma_getopt.a
libmariadb/unittest/mytap/libcctap.a

#VS files/directories
libmariadb/*.vcxproj
libmariadb/*.filters
libmariadb/*.user
libmariadb/ipch
libmariadb/*.sln
libmariadb/*.suo
libmariadb/*.sdf
libmariadb/Win32
libmariadb/x64
libmariadb/*.dir
libmariadb/Debug
libmariadb/Release
libmariadb/RelWithDebInfo

#vim backups
*.*~

# ODBC connector .gitignore
build
.vscode

osxinstall/install_driver
osxinstall/WELCOME.html
osxinstall/scripts/postinstall
osxinstall/build_package.sh
osxinstall/distribution.plist
osxinstall/ROOT
osxinstall/*.pkg

cmake-build-debug/
cmake-build-relwithdebinfo/
CMakeFiles
CMakeCache.txt
cmake_install.cmake

Testing
CTestTestfile.cmake

ma_odbc_version.h
wininstall/mariadb_odbc.xml
mariadb-odbc-driver-uni.def
mariadb-odbc-driver-asc.def
maodbcw.rc
maodbca.rc

*.vcxproj
*.vcxproj.*
*.sln
*.suo
*.sdf
*.dir
Debug
Win32
ipch

*.msi
*.wixobj
*.wixpdb

*.*~
*.diff
*.bak
*.so
*.dylib
.idea/
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
test/odbc_basic
test/odbc_blob
test/odbc_bulk
test/odbc_catalog
test/odbc_catalog1
test/odbc_catalog2
test/odbc_connstring
test/odbc_curext
test/odbc_cursor
test/odbc_datetime
test/odbc_desc
test/odbc_dyn_cursor
test/odbc_error
test/odbc_escape_sequences
test/odbc_info
test/odbc_keys
test/odbc_multistatement
test/odbc_param
test/odbc_prepare
test/odbc_relative
test/odbc_result1
test/odbc_result2
test/odbc_scroll
test/odbc_tran
test/odbc_types
test/odbc_unicode
test/odbc_use_result
test/odbc_client_side
test/odbc_connect
test/odbc_sql_buffers
test/odbc_sql_execute
test/odbc_sql_get_diag_field
test/odbc_sql_get_diag_rec
test/odbc_sql_get_functions
test/odbc_sql_get_info
test/odbc_sql_get_type_info
test/odbc_sql_procedure_columns
test/odbc_sql_row_count
test/odbc_sql_special_columns
test/odbc_sqlcolumns
test/odbc_browser_auth
test/basic
test/blob
test/bulk
test/catalog
test/curext
test/cursor
test/datetime
test/desc
test/dyn_cursor
test/error
test/info
test/keys
test/multistatement
test/odbc.ini
test/odbcinst.ini
test/param
test/prepare
test/relative
test/result1
test/result2
test/scroll
test/tran
test/types
test/unicode
test/use_result

# Keep empty directories:
# Keep empty directories: >> .gitignore/.git*
